<html>
<head>
	<link href="<%= Rails.root %>/public/stylesheets/pizza.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<% if !(@color==="")  %>
		<style>
			body {
				background-color: #f4f4f4;
			}
			#bar {
				height: <%= @height %>px;
			}
			[data-pie-id] > *:nth-child(6n+1), [data-bar-id] > *:nth-child(6n+1), [data-line-id] > *:nth-child(6n+1) {
			color: <%= lighten_color(@color, 0.025) %>; }
			[data-pie-id] > *:nth-child(6n+2), [data-bar-id] > *:nth-child(6n+2), [data-line-id] > *:nth-child(6n+2) {
			color: <%= lighten_color(@color, 0.1) %>; }
			[data-pie-id] > *:nth-child(6n+3), [data-bar-id] > *:nth-child(6n+3), [data-line-id] > *:nth-child(6n+3) {
			color: <%= lighten_color(@color, 0.05) %>; }
			[data-pie-id] > *:nth-child(6n+4), [data-bar-id] > *:nth-child(6n+4), [data-line-id] > *:nth-child(6n+4) {
			color: <%= darken_color(@color, 0.925) %>; }
			[data-pie-id] > *:nth-child(6n+5), [data-bar-id] > *:nth-child(6n+5), [data-line-id] > *:nth-child(6n+5) {
			color: <%= darken_color(@color, 0.95) %>; }
			[data-pie-id] > *:nth-child(6n+6), [data-bar-id] > *:nth-child(6n+6), [data-line-id] > *:nth-child(6n+6) {
			color: <%= darken_color(@color, 0.975) %>; }
		</style>
	<% end %>
</head>
<body>
	<div id="bar" style="height: <%= @height %>px;"></div>
	<ul data-bar-id="bar" style="display: none;">
		<li data-value="145"></li>
		<li data-value="178"></li>
		<li data-value="131"></li>
		<li data-value="92"></li>
		<li data-value="250"></li>
		<li data-value="159"></li>
		<li data-value="78"></li>
		<% if (@width.to_f / @height.to_f) >= 1.5  %>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
		<% end %>
		<% if (@width.to_f / @height.to_f) >= 3  %>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
		<% end %>
	</ul>
	<script src="<%= Rails.root %>/public/javascripts/jquery.min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/snap.svg-min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/pizza.min.js"></script>
	<script>
	Pizza.init();
	</script>
</body>
</html>