<html>
<head>
	<link href="<%= Rails.root %>/public/stylesheets/pizza.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<style>
		body {
			margin: 0;
			background-color: #f4f4f4;
		}
		svg {
		  width: <%= @width %>px;
		}
		#bar {
			height: <%= @height %>px;
		}

	</style>

</head>
<body>
	<div id="bar" style="height: <%= @height %>px;"></div>

	<ul data-bar-id="bar" style="display: none;">
		<li data-value="145"></li>
		<li data-value="178"></li>
		<li data-value="131"></li>
		<li data-value="92"></li>
		<li data-value="250"></li>
		<li data-value="159"></li>
		<li data-value="78"></li>
		<% if (@width.to_i / @height.to_i) >= 2  %>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
		<% end %>
		<% if (@width.to_i / @height.to_i) >= 4  %>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
			<li data-value="125"></li>
			<li data-value="138"></li>
			<li data-value="190"></li>
			<li data-value="122"></li>
			<li data-value="200"></li>
		<% end %>
	</ul>


	<script src="<%= Rails.root %>/public/javascripts/jquery.min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/snap.svg-min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/pizza.min.js"></script>

	<script>
	Pizza.init();
	</script>
</body>

</html>

