<html>
<head>
	<link href="<%= Rails.root %>/public/stylesheets/pizza.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<style>
		body {
			margin: 0;
		}
		svg {
			width: <%= @width_a %>px;
			height: <%= @height_a %>px;
		}
	</style>
	<% if !(@color==="")  %>
		<style>
			[data-pie-id] > *:nth-child(6n+1), [data-bar-id] > *:nth-child(6n+1), [data-line-id] > *:nth-child(6n+1) {
			color: <%= lighten_color(@color, 0.1) %>; }
			[data-pie-id] > *:nth-child(6n+2), [data-bar-id] > *:nth-child(6n+2), [data-line-id] > *:nth-child(6n+2) {
			color: <%= lighten_color(@color, 0.0) %>; }
			[data-pie-id] > *:nth-child(6n+3), [data-bar-id] > *:nth-child(6n+5), [data-line-id] > *:nth-child(6n+5) {
			color: <%= darken_color(@color, 0.9) %>; }
		</style>
	<% end %>
</head>
<body>
	<div id="svg"></div>
	<ul data-pie-id="svg" data-options='{"percent_offset": "0"}'>
		<li data-value="28"></li>
		<li data-value="30"></li>
		<li data-value="42"></li>
	</ul>
	<script src="<%= Rails.root %>/public/javascripts/jquery.min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/snap.svg-min.js"></script>
	<script src="<%= Rails.root %>/public/javascripts/pizza.min.js"></script>
	<script>
	Pizza.init();
	</script>
</body>
</html>