<html>
<head>
<link href="<%= Rails.root %>/public/stylesheets/pizza.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
<style>
body {
	margin: 0;
}
svg {
  width: <%= @width_a %>px;
  height: <%= @height_a %>px;
}

</style>

  </head>
  <body>

<div id="svg"></div>

<ul data-pie-id="svg" data-options='{"percent_offset": "0"}'>
  <li data-value="28"></li>
  <li data-value="30"></li>
  <li data-value="42"></li>
</ul>

<script src="<%= Rails.root %>/public/javascripts/jquery.min.js"></script>
<script src="<%= Rails.root %>/public/javascripts/snap.svg-min.js"></script>
<script src="<%= Rails.root %>/public/javascripts/pizza.min.js"></script>

<script>
Pizza.init();
</script>
</body>

</html>